body{
    background-color: #c2c2c2;
}

.display{
    height: 540px;
    background-color: black;
    display: flex;
}

.container{
    align-content: center;
    width: 800px;
    height: 250px;
    color: white;
    background-color: rgb(196, 196, 218);
    margin: auto;
}

.box{
    text-align: center;
}

.register{
    margin: auto;
    width: 800px;
    background-color: cyan;
}

.element{
    margin-bottom: 5px;
}

.hidden{
    display: none;
}

